node_modules/
.env
*.log
.DS_Store
.idea/
.vscode/

# Firebase & Secret Credentials
sms-app-7043d-firebase-adminsdk-fbsvc-f295d9a1a0.json

# Android Build Outputs & Gradle Cache
android_app/.gradle/
android_app/build/
android_app/app/build/
android_app/captures/
android_app/.navigation/
android_app/app/release/
android_app/local.properties
